body{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg,#9c5be5,#e8a5dc);
    height: 500vh;
    overflow: hidden;
}
.reset_pass{


position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
h1{
    text-align: center;
    padding-top:15px ;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;

}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 20px;
    border: 1px solid gainsboro;
    color: wheat ;
    background-color: #9c5be5;
}